@model MvcSample.Models.SimpleSearchModel

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<div>
    To learn more about YelpSharp visit <a href="https://github.com/JustinBeckwith/YelpSharp" title="YelpSharp Website">https://github.com/JustinBeckwith/YelpSharp</a>

    <br />
    <br />
    
    @using (Html.BeginForm("Results", "Home", FormMethod.Get)) {
        @Html.ValidationSummary(true, "Please enter a search term and location")
        <div>
            <fieldset>
                <legend>Try YelpSharp!</legend>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Term)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Term)
                    @Html.ValidationMessageFor(m => m.Term)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Location)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Location)
                    @Html.ValidationMessageFor(m => m.Location)
                </div>

                <p>
                    <input type="submit" value="Search Yelp" />
                </p>
            </fieldset>
        </div>
    }

</div>
