@model YelpSharp.Data.Review

<fieldset>
    <legend>Review</legend>

    <div class="display-label">rating</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating)
    </div>

    <div class="display-label">rating_img_url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating_img_url)
    </div>

    <div class="display-label">rating_img_url_small</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating_img_url_small)
    </div>

    <div class="display-label">rating_img_url_large</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating_img_url_large)
    </div>

    <div class="display-label">time_created</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.time_created)
    </div>

    <!-- render user information if available -->
    @if (Model.user != null) {
        @Html.Partial("UserCard", Model.user);
    }
</fieldset>
